<!DOCTYPE html>
<html>
<style>
    body{
        background-color: gray;
    }

    .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
  }
  
  .center-button button {
    width: 50vw;
    height: 5vw;
    background-color: rgb(57, 57, 57);
    font-size: 3vw;
    color: rgb(203, 203, 203);
  }
</style>
<script>
    
</script>
<body>
    <div class="center-button"><button href="#" onclick="window.location.href = '/searchByTags'" >Search by tags</a></div>
    <div class="center-button"><button href="#" onclick="window.location.href = '/searchBySimilarities'" >Search by synopsis</a></div>
</body>
</html>